{
    "presets": [["latest", {"es2015":{"modules": false}}], "stage-2", "react"],
    "env": {
    	"test": {
    		"presets": ["latest", "stage-2"]
    	},
    	"development": {
    		"plugins": ["transform-runtime", "react-hot-loader/babel"]
    	},
    	"production": {
    		"plugins": ["transform-react-constant-elements"]
    	}
    }
}
